<!-- npm start and ng serve are identical commands. Technically when you run npm start, behind the scenes it eactually
executes ng serve for you. -->
<!--
 - app.component.ts file which is component class, contains code to run when important events occur(like when a user
   clicks a button).

 - A service file contain code that fetches/stores/updates data.

 - app.module.ts file which is a Module file, defines a set of services + components that handle all of the functionality
   for a part of our app.
 -->

<h1>Password Generator</h1>
<label>Enter Length</label>
<input type="text">

<div>
  <label for="">Use letters</label>
  <input type="checkbox">
</div>

<div>
  <label for="">Use Numbers</label>
  <input type="checkbox">
</div>

<div>
  <label for="">Use Symbols</label>
  <input type="checkbox">
</div>

<div>
<button (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label for="">Your password</label>
  <input type="text">
</div>




